.idea
settings_local.py
settings_test.py
settings/local.py
*/settings/local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*.less.css
*.coffee.js
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
s/*
m/*
*~
*.mo
