{% extends "plain.j.html" %}

{% import 'forms.j.macro' as forms %}


{% block title %}{{ _('Password Reset') }}{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>{{ _('Password Reset') }}</h1>
  </div>

  <section>
    <p>{% trans %}Forgot your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.{% endtrans %}</p>
  </section>

  {{ forms.form(form,
                csrf(),
                url("accounts.password_reset"),
                class="form-horizontal footing",
                submit_text=_("Send Instructions")) }}
{% endblock %}
