{% extends "accounts/base.j.html" %}

{% import "forms.j.macro" as forms %}
{% set account_nav_active = "password" %}


{% block account_content %}
  <section>
    <p>{% trans %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>
  </section>

  {{ forms.form(form,
                csrf(),
                url("accounts.password_change"),
                class="form-horizontal footing",
                submit_text=_("Submit")) }}
{% endblock %}
