{% extends "plain.j.html" %}

{% import "forms.j.macro" as forms %}


{% block title %}{{ _('Password Reset') }}{% endblock %}


{% block content %}
  <div class="page-header">
    <h1>{{ _('Password Reset') }}</h1>
  </div>
  {% if validlink %}
    <section>
      <p>{% trans %}Please enter your new password twice so we can verify you typed it in correctly.{% endtrans %}</p>
    </section>

    {{ forms.form(form,
                  csrf(),
                  request.path,
                  class="form-horizontal footing",
                  submit_text=_("Change Password")) }}
  {% else %}
    <section>
      <p>{% trans reset_url=url('accounts.password_reset') %}The password reset link was invalid, possibly because it has already been used.  Please <a href="{{ reset_url }}">request</a> a new password reset.{% endtrans %}</p>
    </section>
  {% endif %}
{% endblock %}
